<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="books/index">All Books</a></li>
    <li class="nav-item"><a class="nav-link" href="books/add">Add Book</a></li>
    <li class="nav-item"><a class="nav-link" href="genres/index">All Genres</a></li>
    <li class="nav-item"><a class="nav-link" href="genres/add">Add New Genres</a></li>
</ul>

<body class="container">
<h1 th:text="${title}">Reading Log</h1>
<h1>Welcome, reader!</h1>
<p>You've come to the right place! We hope to help motivate you to read more and provide an easy way to store the books you've read!</p>
<p>Want to add a new book? <a href="/log/books/add">Add one here.</a></p>

</body>
</html>